@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedUrlProvider PublishedUrlProvider


@{ var selection = Model.Ancestors().ToArray(); }

@if (selection?.Length > 0)
{
    <section class="breadcrumb-section">
        <div class="breadcrumb-container">
          <a  href="index.html" class="breadcrumb-link">Home</a>
          <a class="breadcrumb-active" href="#" class="breadcrumb-link">News</a>
        </div>
        <div class="section-title">
          <h1>@Model.Value("pageTitle")</h1>
        </div>
  </section>
}