@using Umbraco.Cms.Web.Common.PublishedModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


 <section class="news-signup">
      <div class="container">
        <div class="signup-row">
          <h2>Get News Updates By Signup</h2>
          <form action="#" method="post" class="signup-form">
              <input type="email" name="email" placeholder="Enter your email" required>
              <button type="submit" class="btn-theme">Subscribe<i class="fa-solid fa-arrow-up-right"></i></button>
          </form>
      </div>
      </div>
</section>
