@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models

<section class="testimonial-section">
      <div class="testi-container-white">
        <div class="testi-titel">
          <h1 class="red-title">Testimonial</h1>
          <h1 class="main-title-center">What Our Client Says</h1>
        </div>
          <div class="testi-card-container">
            <div class="testi-card">
              <div class="rating">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
              </div>
              <p class="testi-description">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate."</p>
              <div class="profile">
                @{
                    var testiProfileImage1 = Model.Value<MediaWithCrops>("testiProfileImage1");
                    if (testiProfileImage1 != null)
                    {
                        <img src="@testiProfileImage1.MediaUrl()" alt="">
                    }
                }
                <div class="profile-info">
                  <p class="name">Cassandra Warren</p>
                  <p class="job-title">Business Manager, Dorfus</p>
                </div>
              </div>
            </div>
          <div class="testi-card">
            <div class="rating">
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
            </div>
            <p class="testi-description">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate."</p>
            <div class="profile">
              @{
                var testiProfileImage2 = Model.Value<MediaWithCrops>("testiProfileImage2");
                if (testiProfileImage2 != null)
                {
                    <img src="@testiProfileImage2.MediaUrl()" alt="">
                }
                }
              <div class="profile-info">
                <p class="name">Amanda Tulling</p>
                <p class="job-title">Senior Developer, Square</p>
              </div>
            </div>
          </div>
          <div class="testi-card">
            <div class="rating">
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
            </div>
            <p class="testi-description">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate."</p>
            <div class="profile">
               @{
                var testiProfileImage3 = Model.Value<MediaWithCrops>("testiProfileImage3");
                if (testiProfileImage3 != null)
                {
                    <img src="@testiProfileImage3.MediaUrl()" alt="">
                }
                }
              <div class="profile-info">
                <p class="name">Jack McDogglas</p>
                <p class="job-title">Key Account Manager, Gobona</p>
              </div>
            </div>
          </div>
        </div>
      <a href="#" class="btn-theme-black">All Reviews &nbsp;<i class="fa-solid fa-arrow-up-right"></i></a>
</section>