@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ServiceFeatures)Model.Content;
   
}

 <div class="card">
    <i class="@content.Value("serviceFeatureIcon")"></i>
    <h3>@content.Value("serviceFeatureTitle")</h3>
    <p>@content.Value("serviceFeatureDescription")</p>
</div>